body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lay-grotesk: "Lay Grotesk", "LayGrotesk-Medium", url(path/to/LayGrotesk-Medium.otf) format("opentype"), sans-serif;

  /* Colors */
  --color-lightgray: #d1d1d1;
}