body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lay-grotesk: "Lay Grotesk";

  /* Colors */
  --color-lightgray: #d1d1d1;
}
selector {
  font-family: var(--font-lay-grotesk), "LayGrotesk-Medium", sans-serif;
}